* {
  box-sizing: border-box;
}

.flex-container{
  display: flex;
  justify-content:center;
}
.item {
 flex-basis: 100px;
  height: 100px;
  background-color: chocolate;
  padding: 10px;
  border: 2px solid chartreuse;
  margin 10px;
}

.item:nth-child(2){
  flex-grow: 0;
  flex-shrink: 0;
  align-self: ;
  order: 4;
}